{% extends "base.html" %}
{% block content %}
<div class="bradcam_area overlay d-flex align-items-center justify-content-center" style="background-image: url({{banner.event_image.url}});">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Events in {{country}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->

<!-- popular_causes_area_start  -->
<div class="popular_causes_area pt-120">
    <div class="container">
        <div class="row">
            {% for e in events %}
            <div class="col-lg-4 col-md-6">
                <div class="single_cause">
                    <div class="thumb">
                        <img class="lazyload" data-src="{{e.event_image.first.event_image.url}}" alt="" loading="lazy">
                    </div>
                    <div class="causes_content">
                        {% comment %} <div class="custom_progress_bar">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progres_count">
                                        30%
                                    </span>
                                </div>
                              </div>
                        </div> {% endcomment %}
                        <div class="balance d-flex justify-content-between align-items-center">
                            {% if e.status == "Closed" %}
                                <span class="badge bg-danger text-white">{{ e.status }}</span>
                            {% elif e.status == "Upcoming" %}
                                <span class="badge bg-info text-white">{{ e.status }}</span>
                            {% elif e.status == "Ongoing" %}
                                <span class="badge bg-success text-white">{{ e.status }}</span>
                            {% endif %}
                            <span>{{e.open_date}} - {{e.close_date}}</span>
                            <span></span>
                        </div>
                        <a href="{% url 'event_detail' e.id %}?country={{country}}"><h4>{{e.e_name}}</h4></a>
                        <p style="text-align: justify;">{{e.e_details | truncatewords:20 | safe }}</p>
                        <a class="read_more" href="{% url 'event_detail' e.id %}?country={{country}}">Read More</a>
                        {% if e.status != 'Closed' %}
                            {% if e.e_name == 'Volunteer Registration' %}
                                <a class="btn btn-sm btn-primary ml-5" href="{% url 'vol_event_register' e.id %}?country={{country}}">Register</a>
                            {% else %}
                                <a class="btn btn-sm btn-primary ml-5" href="{% url 'event_register' e.id %}?country={{country}}">Register</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if events.has_previous %}
                            <!-- Link to the first page -->
                            <li class="page-item">
                                <a class="page-link" href="?page=1&country={{ country }}" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <!-- Link to the previous page -->
                            <li class="page-item">
                                <a class="page-link" href="?page={{ events.previous_page_number }}&country={{ country }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
        
                        <!-- Page numbers -->
                        {% for i in events.paginator.page_range %}
                            {% if events.number == i %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ i }}&country={{ country }}">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}&country={{ country }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
        
                        {% if events.has_next %}
                            <!-- Link to the next page -->
                            <li class="page-item">
                                <a class="page-link" href="?page={{ events.next_page_number }}&country={{ country }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <!-- Link to the last page -->
                            <li class="page-item">
                                <a class="page-link" href="?page={{ events.paginator.num_pages }}&country={{ country }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        
    </div>
</div>
<!-- popular_causes_area_end  -->
{% endblock content %}