html, body {
	min-width:300px;
	height:auto;
	background:transparent;
}

body {
	overflow:hidden;
}
#search-results{
	padding:20px 10px 0px 5px;
	overflow:hidden;
}

#search-results iframe html{
	border:none;
}
#search-results iframe {
	min-width:300px;
}

h4{
	padding-bottom: 10px;
	margin: 0;
}
ol.search_list {
	margin-left: 15px;
	list-style-type:none;
	counter-reset: ol;
}
ol.search_list li:before {
content: counter(ol) ".";
counter-increment: ol;
float:left;
display:block;
width:20px;
text-align:right;	
padding-right:10px;
margin: 1px 0px 0 -30px;
}
ol.search_list li {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #aaadb1;
	padding-bottom:20px;
	margin-left:15px;
}
span.match {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #7ecefd;
	display:block;
	
}
span.search {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #7ecefd;

}
.search_link{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: #aaadb1;
	text-decoration: underline;
}
.search_link:hover{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: #7ecefd;
	text-decoration: none;
}

