{% extends "hbase.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <!-- Heading Section -->
        <div class="col-12 text-center mb-4">
            <h2 class="fw-bold text-primary">Our Facilities</h2>
        </div>
    </div>
    <div class="row align-items-center">
        <!-- Image Section -->
        <div class="col-md-6">
            <img src="{% static 'hospital/imgs/facilities.jpg' %}" class="img-fluid rounded shadow" alt="About Us">
        </div>
        <!-- Text Section -->
        <div class="col-md-6">
            <p class="mt-3 mt-md-0 text-justify">
                <ul>
                    <li>Outdoor Patient Department(OPD)</li>
                    <li>Orthopedics, ENT, Eye</li>
                    <li>Vaccination</li>
                    <li>DOCTOR'S Corner</li>
                    <li>Physiotherapy</li>
                    <li>Child Development Center</li>
                    <li>Blood Transfusion</li>
                    <li>Pharmacy</li>
                    <li>Ambulance</li>
                    <li>Home services (Gynae and Lab)</li>
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
