{% extends "hbase.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <!-- Heading Section -->
        <div class="col-12 text-center mb-4">
            <h2 class="fw-bold text-primary">Contact Us</h2>
        </div>
    </div>
    <div class="row align-items-center">
        <!-- Image Section -->
        <div class="col-md-6">
            <img src="{% static 'hospital/imgs/facilities.jpg' %}" class="img-fluid rounded shadow" alt="About Us">
        </div>
        <!-- Text Section -->
        <div class="col-md-6">
            <p class="mt-3 mt-md-0 text-justify">
                <strong>সিরিয়ালের জন্য কল করুন 01841040540</strong>
                <br><br>
                যোগাযোগঃ আলহাজ্ব শামসুল হক ফাউন্ডেশন, গোলাম আলী নাজির পাড়া, খাজা রোড, বহদ্দারহাট, চান্দগাঁও, চট্টগ্রাম।
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3689.482637651315!2d91.85223887405265!3d22.373155740253086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acd942e1dd4e4b%3A0x185a64b7b8defff0!2sAlhaj%20Shamsul%20Hoque%20Foundation%20(ASHF)!5e0!3m2!1sen!2sbd!4v1735714169484!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
